.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.place-items-end {
    place-items: end;
}

.items-center{
    align-items: center;
}

.place-content-between{
    place-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}